.image {
  pointer-events: none;

  &-element {
    @include size(100%, 100%);

    object-fit: cover;

  }
  
  &-author {
    color: $white;
    font-size: $font-size-small;
    font-weight: $font-weight-light;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
    background-color: rgba($black, 0.6);
  }

  &-navigation {
    height: 32px;
    position: absolute;
    right: 8px;
    top: 8px;
    background-color: rgba($black, 0.6);
    padding: 8px;
    border-radius: 50%;
  }

  &-link {
    color: $white;
    opacity: 1;
    transition: opacity $animation-duration $animation-timing;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.6;
      }
    }

    svg {
      @include size(16px, 16px);
    }
  }
}
